@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$accent:rgb(0, 45, 141);
$main: rgb(23,38,81);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}


/* BEGIN TEXT */
h1 {
  font-size: 4rem;
  font-weight: 400;
}

.info-label, .job-label {
  font-weight: 500;
  font-size: 2rem;
  color: $accent;
}

.job-label {
  text-transform: uppercase;
  font-size: 1.7rem;
}

.info-content {
  font-size: 1.5rem;
  font-weight: 500;
}

h2 {
  padding: 2rem;
  font-size: 4.5rem;
  text-align: center;
  font-weight:400;
}
h3{
    font-size:2.5rem;
    font-weight:400;
}
p{
    font-size: 1.8rem;
    font-weight:300;
}

/* END TEXT */

.indent{
    margin-left:5%;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  background-color: white;
  z-index: 10;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.712));

  ul {
    display: flex;
    list-style-type: none;
  }

  a {
    padding: 1rem 2rem;
    color: black;
    text-decoration: none;
    display: inline-block;
    transition-property: color background-color;
    transition-duration: 300ms;
    &:hover {
      color: white;
      background-color: $accent;
    }
  }
}

header {
  background-image: linear-gradient(to right, rgba(104, 104, 245, 0.219), rgba(104, 104, 245, 0.219)), url(../assets/toronto-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.575));
  max-width: 40vw;
  height: auto;
  .intro-content {
      display: flex;
    }
    
    .intro-socials {
        width: 100%;
        background-color: $main;
        
        ul {
            display: flex;
            padding: 1rem;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            
            a {
                font-size: 3rem;
                text-align: center;
                color: white;
                text-decoration: none;
                padding: 0.5rem 3rem;
                display: inline-block;
                
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
    
}

.intro-text {
padding: 5rem;
width: 50%;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.headshot-img {
width: 50%;
}

.info-module-container{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    height:100%;
}

@mixin wrapper(){
  margin: 0 auto;
  width:70%;
}

main {
  //   width: 70%;
  // margin: 0 auto;

  section {
    margin: 5vh 0;
  }
}

.wrapper{
  @include wrapper;
}


.about-container div {
  display: flex;
}

.skills-container, .education-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  p{
    padding: 0.8rem 0;
  }
  h3{
    text-align: center;
    margin-bottom: 2rem;
  }
}

.experience-wrapper{
  background-color:$main; 
  padding: 4vh 0;
}

.experience-container{
  @include wrapper;
  // padding-top:15vh;
  padding:4vh 0;
  background-color:rgba(255, 255, 255, 0.897);
  color:black;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
  filter:drop-shadow(0 0 15px black);

  .experience-module{
    width:80%;
    margin: 0.7rem 0;
    border-bottom:1px solid rgba(grey,0.4);
    padding:2rem;
    border-radius:2px;
    &:last-child{
      border-bottom:none;
    }
  }
  
  .experience-title-container{
      display:flex;
      justify-content:space-between;
  }

  ul p{
      padding: 0.8rem 0;
  }
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .intro-container {
    max-width: 95%;
    filter: none;
    position: relative;
  }

  .about-container div{
      flex-direction:column;
      width:100%;
  }

  .intro-content {
    flex-direction: column;
    width: 100%;
}

.headshot-img {
  width: 100%;
  height:auto;
}

.intro-text {
  width: 100%;
}

.experience-container{
    width:100%;
    .experience-title-container{
        flex-direction:column;
    }
    .experience-module{
        width:100%;
    }
}

main{
    width:80%;
}

  header {
    height: auto;
    padding: 2rem 0;
  }

  nav a {
    padding: 1rem 1rem;
  }
}